*{
    margin: 0;
}
h2{
    padding: 20px;
    font-size: xx-large;
}
select{
    background: rgb(146, 128, 128);
    color:black;
    width: 200px;
    height: 30px;
    font-size: larger;
    text-align: center;
    margin-left: 50px;
}
.btn{
    margin:20px 10px 20px 10px;
}
#item_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.container{
    flex:1 0 5% ;
    margin: 10px;
    padding: 20px 20px 0;
    text-align: center;
    width: 350px;
    box-shadow: 1px 2px 8px gray;
    border-radius: 10px;
    position: relative;
    min-width: 260px;
    display: grid;
    overflow: hidden;
    background-color: rgb(121, 255, 210);
}
#paragraphe{
    display: flex;
}
